div {
    width: 400px !important;
    background-color: lightgrey !important;
    margin: 20px auto;
    border: none !important;
    font-size: 20px !important;
    text-align: center !important;
    color: transparent !important;
    position: relative;
}

div::before {
    content:"elzero" ;
    position:absolute;
    color: black;
    
}
