.assign-3 {
    width:550px;
    margin: 20px auto;
    height: 300px;
    position: relative;
}

* {
    box-sizing: border-box;
}

.basic,
.pro {
    width: 200px;
    height: 300px;
    float: left;
    margin: 20px;
    padding:20px;
    background-color: #eee;
}

.assign-3::after {
content: "";
height: 100%;
background-color: #03a9f4;
position: absolute;
width: 3px;
left: 240px;
top: 20px;
z-index: -1;
}

.assign-3::before {
 content: "or";
 color:white;
 background-color: #03a9f4;
 border-radius: 50%;
 position: absolute;
 left: 230px;
 text-align: center;
 padding: 5px;
 top: 150px;
}

.basic p,
.pro p {
    color:white;
    background-color:#03a9f4 ;
    text-align: center;
    border-radius: 10px;
    padding: 10px 20px;

}

.price {
    background-color: #dddddd;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    width: 150px;
    margin-top: 50px;
    margin-left: 5px;
    font-weight: bold;
    font-size: 40px;
    line-height: 135px;
}
